<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"  href="{{ asset('css/exo_style.css') }}"  />

</head>
<body>
<header >
   <div id="menu">
       <img src="/img/logo.png"  width="128" height="128" />
       <div>
           <ul >
               <li><a href="{{ path('accueil') }}">ACCUEIL</a></li>
               <li>ARTICLE</li>
               <li>DIVERS</li>
           </ul>
       </div>

   </div>
</header>
<main>
<div id="article">
    <div id="contenu">
    <img src="/img/200.webp"  width="200" height="200" />
    <p class="titre"> Titre article 1 </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
        </p>
    </div>
    <div id="contenu">
        <img src="/img/200.webp"  width="200" height="200" />
        <p class="titre"> Titre article 2</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
        </p>
    </div>
    <div id="contenu">
        <img src="/img/200.webp"  width="200" height="200" />
        <p class="titre"> Titre article 3</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
        </p>
    </div>
</div>
    <div id="article">
        <div id="contenu">
            <img src="/img/200.webp"  width="200" height="200" />
            <p class="titre"> Titre article 4</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
            </p>
        </div>
        <div id="contenu">
            <img src="/img/200.webp"  width="200" height="200" />
            <p class="titre"> Titre article 5</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
            </p>
        </div>
        <div id="contenu">
            <img src="/img/200.webp"  width="200" height="200" />
            <p class="titre"> Titre article 6</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis erat lectus, ut mollis est euismod egestas. Aliquam eu nisl ut purus porttitor auctor. Aliquam venenatis odio et nisi viverra dapibus. Sed consequat ultricies diam, a luctus turpis ultrices non. Cras eu magna
            </p>
        </div>
    </div>




</main>
<footer>
    <div id="menu">
        <img src="/img/logo.png"  width="128" height="128" />
        <div>
            <ul >
                <li>Lien 1</li>
                <li>Lien 2</li>
                <li>Lien 3</li>
            </ul>
        </div>

    </div>
</footer>
</body>
</html>